*
{
    text-decoration: none;
    list-style-type: none;
    font-family: "Esteban", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    caret-color: #ac5b45;
}

body
{
    background-color: #F5F0E6;
    margin: 0;
    padding:0;
}


main
{
    color: black;
    margin-inline: 2.5%;
}

main input:focus,main textarea:focus
{
    border:solid #ac5b45 2px;
    outline: none;  
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 0.5%;
    padding-inline: 2.5%;
    background-color: #EBE2D3;
}

.btn
{
    display: flex;
    background-color: #ac5b45;
    color: white;
    width:50%;
    border: none;
    border-radius: 10px;
    align-self: center;
    padding-block: 1%;
    transition: .2s ease;
}
.btn:hover
{
    cursor: pointer;
    filter: brightness(92%);
    transform: scaleX(1.05);
}

header a:hover
{
    color:#ac5b45;
    font-weight: 600;
}
.navigation
{
    display: flex;
    gap:5em;
    font-size:1.3em;
}
nav img
{
    display: none;
}

.navigation a::hover
{
    cursor: pointer;
}

.picLibrary
{
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    background-color: #F5F0E6;
    min-height: 350px;
    width: 100vw;
    padding-block:3em;
    background-image: url(asset/image/library.jpg);
}

#searchInput
{
    padding: 0.2em 0.5em;
    opacity: 0.7;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: 600;
}
#searchInputCatalog
{
    display: flex;
    justify-self: center;
    padding: 0.2em 0.5em;
    margin-top: 2%;
    opacity: 0.7;
    border-radius: 10px;
    width: 50%;
    font-size: 1.5em;
    font-weight: 600;
}

.newReleases
{
    display: flex;
    justify-content: center;
    background-color: grey;
    min-width: 50px;
    min-height: 50px;
}


/* Partie contact */
.flexContact
{
    display: flex;
    justify-content: center;
}
.contact
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block:3%;
}
#contactForm, .information
{
    margin-block: 2.5%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 2% 3.5%;
    background-color: #EBE2D3;
    box-shadow: 3px 5px 0px 1px#ac5b45;
    border-radius: 20px;
}
.information
{
    z-index: -1;
}

.formGroup
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 10px;

}
.formGroup input
{
    width: 400px;
    border-radius: 10px;
    min-height: 30px;
    padding: 5px;
    border:none;
}

.formGroup textarea
{
    min-height: 80px;
    width: 400px;
    border: 1px;
    border-radius: 10px;
    padding: 5px;
}

.information
{
    font-size: 1.2em;
}
.time p:nth-child(1)
{
    text-align: center;
    font-weight: 600;
}
.time p
{
    padding-block: 0.3em;
}

.location p:nth-child(1)
{
    text-align: center;
    font-weight: 600;
}
/* Partie footer */

footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    gap: 0.8em;
    padding-block:0.5% ;
    background-color: #ac5b45f5;
}
footer a
{
    color: white;
    white-space: nowrap;
}

.logoFooter
{
    align-items: center;
    gap: 0;
}

.navFooter
{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h3
{
    text-decoration: underline;
}

footer div
{
    display: flex;
    gap: 0.5em;
    text-align: left
}
.social
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3em;
}

/* ------------------CATALOG-------------------- */

.catalog
{
    display: flex;
    flex-direction: column;
    padding:1%;
}
.catalogCard
{
    display: flex;
    flex-direction: row;
    background-color: #EBE2D3;
    box-shadow: 5px 5px 1px 1px#ac5b45;
    border-radius: 10px;
    gap: 3em;
    margin:1%;
    padding:1%;
    transition:all 0.2s ease-in-out;
}
.catalogCard:hover{
    transform:scale(1.005);
    box-shadow: 8px 8px 1px 1px#ac5b45;
}

.catalogCard img
{
    max-height: 200px;
}

.placeholderCover
{
    background-image: url(asset/image/placeholder_book.jpg);
}

@media screen and (max-width:1400px)
{
    .navigation
    {
        display: none;
    }
    nav img
    {
        display: block;
    }
    .social img
    {
        width: 40px;
    }
}

@media screen and (max-width:750px)
{
    nav img
    {
        width: 40px;
    }
    .flexContact, footer, .navFooter
    {
        flex-direction: column;
        padding: 3%;
    }
    .logoFooter
    {
        flex-direction: column;
    }
    .social
    {
        display: none;
    }
}